*{
  box-sizing: border-box;
}
body{
  margin: 20px;
  padding: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.row{
  margin-top: 5%;
  margin-bottom: 5%;
}
h1{
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
}
.box {
  width: 90%;
  overflow: none;
}
.content-name {
  overflow: none;
  text-align: center;
  border: 3px solid white;
  color: white;
  width: 100px;
  height: 40px;
  padding: 5px;
  float:right;
  margin-right:32px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}
.content{
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: yellow;
  font-size: 25px;
  padding: 2%;
  padding-top: 32px;
  background-color: black;
}
.firstname{
  background-color: red;
}

.secondname{
  color: white;
  background-color: blue;
}
.thirdname{
  background-color: violet;
}
/*Large devices*/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/* Medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
}